.product {
  width: 320px;
  margin: 10px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product__img {
  max-width: 200px;
  max-height: 200px;
  transition: transform 1s;
  margin: 20px 0;
}

.product__img:hover {
  transform: scale(1.05);
}

.product__text {
  color: #ac0056;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 3px 0;
}

.product__price-box {
  width: 100%;
  margin: 30px 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product__button {
  background: transparent;
  border: none;
  margin: 0 10px;
}

.product__button-img {
  max-width: 25px;
  width: 100%;
  cursor: pointer;
  opacity: 0.9;
  transition: transform 1s, opacity 0.5s;
}

.product__button-img:hover {
  transform: scale(1.1);
  opacity: 1;
}
