@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.app {
  width: 100%;
  height: 100%;
  display: block;
}

html {
  font-family: "Calibri", "Roboto", Arial, sans-serif;
  font-size: 14px;
}

html,
body,
#root {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  background: #2d3f3d;
}
